body {
  margin: 0px;
  padding: 0px;
  background: rgb(0, 1, 37)
}

.header {
  margin-bottom: -40px;
  float: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Manrope', sans-serif;
}

.nav {
  text-align: center;
}

.nav a {
  margin: 0px;
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 1px 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Manrope', sans-serif;
}

.nav a:hover {
  color: rgb(255, 134, 134);
}

