body {
  margin: 0px;
  padding: 0px;
  background: rgb(0, 1, 37)
}

.main-header {
  margin-bottom: -40px;
  padding: 0px 30px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Manrope', sans-serif;
}

.nav {
  padding: 0px 30px;
  list-style-type: none;
}

.nav a {
  margin: 0px;
  color: #ffffff;
  padding: 1px 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Manrope', sans-serif;
}

.nav a:hover {
  color: rgb(255, 134, 134);
}

.about-sum {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  padding: 15px 30px;
  font-size: 17px;
}

.sub-header {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  padding: 0px 30px;
  font-size: 26px;
  font-weight: bold;
}

.experience-sub-header {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  padding: 0px 30px;
  font-size: 17px;
}

.p {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  padding: 0px 30px;
  font-size: 14px;
  margin-bottom: 40px;
}